.idea.md
pb_data
data
temp
.vscode
beszel-agent
beszel_data
beszel_data*
dist
*.exe
src/cmd/hub/hub
src/cmd/agent/agent
node_modules
build
*timestamp*
.swc
src/site/internal/locales/**/*.ts
*.bak
__debug_*
agent/lhm/obj
agent/lhm/bin
dockerfile_agent_dev
