.idea.md
pb_data
data
temp
.vscode
beszel-agent
beszel_data
beszel_data*
dist
*.exe
internal/cmd/hub/hub
internal/cmd/agent/agent
node_modules
build
*timestamp*
.swc
internal/site/src/locales/**/*.ts
*.bak
__debug_*
agent/lhm/obj
agent/lhm/bin
dockerfile_agent_dev
