[Unit]
Description=CMonitor Agent Service
Wants=network-online.target
After=network-online.target

[Service]
Environment="PORT=45876"
# Port number can be overridden in cmonitor-agent.conf if needed
EnvironmentFile=/etc/cmonitor-agent.conf
ExecStart=/usr/bin/cmonitor-agent
User=cmonitor-agent
Restart=on-failure
StateDirectory=cmonitor-agent

# Security/sandboxing settings
KeyringMode=private
LockPersonality=yes
NoNewPrivileges=yes
PrivateTmp=yes
ProtectClock=yes
ProtectHome=read-only
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectSystem=strict
RemoveIPC=yes
RestrictSUIDSGID=true
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
