@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 30 8% 98.5%;
		--foreground: 30 0% 0%;
		--card: 30 0% 100%;
		--card-foreground: 240 6.67% 2.94%;
		--popover: 30 0% 100%;
		--popover-foreground: 240 10% 6.2%;
		--primary: 240 5.88% 10%;
		--primary-foreground: 30 0% 100%;
		--secondary: 240 4.76% 95.88%;
		--secondary-foreground: 240 5.88% 10%;
		--muted: 26 6% 94%;
		--muted-foreground: 24 2.79% 35.1%;
		--accent: 20 23.08% 94%;
		--accent-foreground: 240 5.88% 10%;
		--destructive: 0 66% 53%;
		--destructive-foreground: 0 0% 98.04%;
		--border: 30 8.11% 85.49%;
		--input: 30 4.29% 72.55%;
		--ring: 30 3.97% 49.41%;
		--radius: 0.8rem;
		/* charts */
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}

	.dark {
		color-scheme: dark;
		--background: 220 5.5% 9%;
		--foreground: 220 2% 97%;
		--card: 220 5.5% 10.5%;
		--card-foreground: 220 2% 97%;
		--popover: 220 5.5% 9%;
		--popover-foreground: 220 2% 97%;
		--primary: 220 2% 96%;
		--primary-foreground: 220 4% 10%;
		--secondary: 220 4% 16%;
		--secondary-foreground: 220 0% 98%;
		--muted: 220 6% 16%;
		--muted-foreground: 220 4% 67%;
		--accent: 220 5% 15.5%;
		--accent-foreground: 220 2% 98%;
		--destructive: 0 62% 46%;
		--destructive-foreground: 0 0% 97%;
		--border: 220 3% 16%;
		--input: 220 4% 22%;
		--ring: 220 4% 80%;
		--radius: 0.8rem;
	}
}

/* Fonts */
@supports (font-variation-settings: normal) {
	:root {
		font-family: Inter, InterVariable, sans-serif;
	}
}
@font-face {
	font-family: InterVariable;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("/static/InterVariable.woff2?v=4.0") format("woff2");
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer utilities {
	.link {
		@apply text-primary font-medium underline-offset-4 hover:underline;
	}
	/* New system dialog width */
	.ns-dialog {
		min-width: 30.3rem;
	}
	:where(:lang(zh), :lang(zh-CN), :lang(ko)) .ns-dialog {
		min-width: 27.9rem;
	}
}

.recharts-tooltip-wrapper {
	z-index: 1;
}

.recharts-yAxis {
	@apply tabular-nums;
}
