@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 30 8% 98.5%;
		--foreground: 30 0% 0%;
		--card: 30 0% 100%;
		--card-foreground: 240 6.67% 2.94%;
		--popover: 30 0% 100%;
		--popover-foreground: 240 10% 6.2%;
		--primary: 240 5.88% 10%;
		--primary-foreground: 30 0% 100%;
		--secondary: 240 4.76% 95.88%;
		--secondary-foreground: 240 5.88% 10%;
		--muted: 26 6% 94%;
		--muted-foreground: 24 2.79% 35.1%;
		--accent: 20 23.08% 94%;
		--accent-foreground: 240 5.88% 10%;
		--destructive: 0 66% 53%;
		--destructive-foreground: 0 0% 98.04%;
		--border: 30 8.11% 85.49%;
		--input: 30 4.29% 72.55%;
		--ring: 30 3.97% 49.41%;
		--radius: 0.8rem;
		/* charts */
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}

	.dark {
		color-scheme: dark;
		--background: 240 10% 6.2%;
		--foreground: 0 0% 98.04%;
		--card: 240 8.57% 8%;
		--card-foreground: 0 0% 98.04%;
		--popover: 240 10% 6.2%;
		--popover-foreground: 0 0% 98.04%;
		--primary: 0 0% 98.04%;
		--primary-foreground: 240 5.88% 10%;
		--secondary: 240 3.7% 15.88%;
		--secondary-foreground: 0 0% 98.04%;
		--muted: 240 3.7% 15.88%;
		--muted-foreground: 240 5.03% 64.9%;
		--accent: 240 3.7% 15.88%;
		--accent-foreground: 0 0% 98.04%;
		--destructive: 0 59% 46%;
		--destructive-foreground: 0 0% 98.04%;
		--border: 240 2.86% 12%;
		--input: 240 3.7% 15.88%;
		--ring: 240 4.88% 86%;
		--radius: 0.8rem;
	}
}

/* Fonts */
@supports (font-variation-settings: normal) {
	:root {
		font-family: Inter, InterVariable, sans-serif;
	}
}
@font-face {
	font-family: InterVariable;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("/static/InterVariable.woff2?v=4.0") format("woff2");
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
	.link {
		@apply text-primary font-medium underline-offset-4 hover:underline;
	}
}

.recharts-tooltip-wrapper {
	z-index: 1;
}

.recharts-yAxis {
	@apply tabular-nums;
}
